<section class="title-page">
  <h1>О сайте</h1>
</section>

<section>
  <p>Доброго времени суток! Вы попали на бесплатный сервис для редактирования заметок Blocknode!</p>
  <p>Для того чтобы начать - <%= link_to "зарегистрируйтесь" , new_user_path %> или <%= link_to "войдите в систему!" , login_path %></p>
</section>
