<% provide(:title, @user.name) %>
<section class="title-page">
  <h1>Ваш профиль</h1>
</section>

<section id = "profil">
    <section class="vhod">
      <p>
        <%= gravatar_for @user %>
        Имя: <%= @user.name %>
      </p>
      <p>
        Почта: <%= @user.email %>
      </p>
    </section>
</section>
