/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*, *:after, *:before{
  margin: 0;
  padding: 0;
}
html, body{
  box-sizing: border-box;
}
body{
 	font-family: 'Comfortaa', cursive;
 	background-color: #B2C8C3;
  height:100%;
  width: 100%;
  margin:0;
 }

 a{
   text-decoration: none;
 }
 a:link{
  color:DarkSlateBlue;
 }

.title-page{
  margin:10px;
  display: flex;
  justify-content: space-between;
}

#center-content{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: 1000px;
  position: relative;
  min-height: calc(81vh - 80px);
}

.knopka{
  border: 1px solid #bbb;
  width: 25%;
  height: auto;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 2px;
  font-size: 25px;
  font-family: 'Comfortaa';
  text-indent: 10px;

}

.danger{
  margin: 5px;
  border: 2px solid #b32a2a;
  border-radius: 5px;
  padding: 20px;
  background-color: #ff00005c;
  font-size: 20px;
  font-weight: bolder;
}

.formy{
  width: fit-content;
  height: fit-content;
  background-color: #63b09f5c;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #483d8b;
  border-radius: 5px;
}

 /**********************************/


 /*dlja soobschenij ob oshibkah*/
/* #error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}
*/


 /**********************************/
