<footer>
  <section>
    <nav>
      <ul>
        <li><%= link_to "О сайте", about_path %></li>
        <li><%= link_to "Контакты", '#'%></li>
      </ul>
    </nav>
  </section>

  <section>
    <p>Сайт разработал <%=link_to "Илья Исаев" , "https://t.me/isaeviv"%></p>
    <p>Email: isaeviv@vivaldi.net</p>
  </section>

</footer>
